body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Unbounded", sans-serif;
  background: #111111;
  color: #ffffff;
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 100px;
  background: transparent;
  top: 23rem;
  height: max-content;
}

nav {
  position: fixed;
  inset: 0 0 auto;
  display: flex;
  padding: 40px 100px;
  background: transparent;
  z-index: 1;
}

.nav-links {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0;
  border: 2px solid #ffffff;
  font-size: 16px;
  font-weight: 300;
  background: transparent;
}

.grid-container {
  display: flex;
  align-items: center;
  gap: 80px;
  width: 35%;
  padding: 50px 30px;
  border-right: 2px solid #ffffff;
  background: transparent;
}

.grid-container p {
  margin-right: 20px;
  font-weight: 700;
  font-size: 10px;
  background: transparent;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  padding: 0;
  background: transparent;
}

.icon-container img {
  width: 30px;
  height: auto;
}

.icon-container img,
.icon-container h1 {
  margin: 0;
  padding: 0;
  background: transparent;
}

.nav-links ul {
  display: grid;
  grid-template-columns: repeat(23, minmax(0, 1fr));
  width: 65%;
  height: 100%;
  list-style: none;
  background: transparent;
}

.nav-links ul li img {
  width: 20px;
}

.nav-links li {
  height: 100%;
  background: transparent;
  white-space: nowrap;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-links li:nth-child(1),
.nav-links li:nth-child(4),
.nav-links li:nth-child(9) {
  grid-column: span 4;
  border-left: none;
  border-top: none;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.nav-links li:nth-child(5) {
  border-bottom: 2px solid #ffffff;
  border-left: none;
  border-top: none;
  border-right: none;
  grid-column: span 2;
}

.nav-links li:nth-child(4) {
  border-left: 2px solid #ffffff;
}

.nav-links li:nth-child(2) {
  grid-column: span 7;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #ffffff;
}

.nav-links li:nth-child(6) {
  grid-column: span 8;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid #ffffff;
}

.nav-links li:nth-child(3),
.nav-links li:nth-child(7) {
  grid-column: span 6;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.nav-links li:nth-child(7) {
  border-right: 2px solid #ffffff;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.nav-links li:nth-child(8) {
  grid-column: span 4;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid #ffffff;
}

.nav-links li:nth-child(9) {
  grid-column: span 5;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.left-section,
.right-section {
  flex: 1;
  background: transparent;
}

.gretting-section,
.campaigne-section {
  display: flex;
  align-items: center;
  gap: 30px;
  width: max-content;
  background: transparent;
}

.campaigne-section {
  margin-top: 4rem;
}

.gretting-section h1,
.right-section p {
  margin: 0;
  display: inline-block;
  background: linear-gradient(
    135deg,
    #c6f1f7 0%,
    #f983e9 36%,
    #b877ff 74%,
    #c2e9cd 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.right-section p {
  font-size: 0.9rem;
  width: 12rem;
  font-weight: medium;
}

.gretting-section p,
.typography-title h1 {
  margin: 0;
  display: inline-block;
  background: linear-gradient(135deg, #c6f1f7 0%, #f983e9 36%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gretting-section h1 {
  font-size: 2rem;
  font-weight: 100;
}

.gretting-section p {
  font-size: 1rem;
  max-width: 40%;
  font-weight: 100;
}

.campaigne-section p {
  color: white;
  background: transparent;
  font-size: 1.2rem;
  max-width: 30%;
  font-weight: 100;
  margin-left: -2.3rem;
  margin-top: 5rem;
}

.typography-title {
  display: column;
  max-width: 40%;
  background: transparent;
}

.typography-title h1 {
  font-size: 4rem;
  font-weight: 200;
}

.flex-typoghrapy {
  display: flex;
  background: transparent;
  gap: 10px;
}

.wave-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  margin: auto 0 0;
  padding: 0;
}

.wave-section img {
  height: max-content;
  width: 135px;
  background: transparent;
}

.wave-section span {
  display: inline-block;
  margin-top: -0.5rem;
  font-size: 4rem;
  font-weight: 200;
  background: linear-gradient(135deg, #f983e9 36%, #b877ff 74%, #c2e9cd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.right-section {
  flex-direction: column;
  margin-top: 7.3rem;
  max-width: 17%;
}

.right-section img {
  width: 35px;
  height: auto;
  margin-bottom: 10px;
  color: white;
  padding: 0;
  margin-left: -5px;
}

.submenu-container {
  position: absolute;
  display: flex;
  inset: 0;
  gap: 18rem;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.7);
  height: max-content;
  padding: 70px 100px;
  top: 45.3rem;
}

.cta-container {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 15px;
  text-decoration: none;
}

.cta-container h1 {
  background: linear-gradient(
    135deg,
    #c6f1f7 0%,
    #f983e9 36%,
    #b877ff 74%,
    #c2e9cd 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.separator {
  height: 2px;
  background: white;
}

.submenu-container .cta-container:first-child {
  transform: translateX(-10px);
}

.submenu-container .cta-container:nth-child(2) {
  transform: translateX(-63px);
}

.submenu-container .cta-container:nth-child(3) {
  transform: translateX(-123px);
}

.submenu-container .cta-container:last-child {
  transform: translateX(-156px);
}

.submenu-container .cta-container:nth-child(1) .separator,
.submenu-container .cta-container:nth-child(2) .separator,
.submenu-container .cta-container:nth-child(3) .separator,
.submenu-container .cta-container:last-child .separator {
  width: 300%;
}

/* About Section */
.about-header {
  display: flex;
  padding: 70px 100px;
  /* border: 1px solid white; */
  align-items: end;
  height: max-content;
}

.about-description {
  height: max-content;
  display: flex;
  /* border: 1px solid white; */
  width: max-content;
}

.about-tagline-container {
  height: max-content;
  padding: 75px 0px 0px;
  /* border: 1px solid white; */
  width: max-content;
}

.about-tagline-container p {
  /* border: 1px solid white; */
  width: max-content;
  margin-bottom: 19px;
  background: linear-gradient(
    135deg,
    #c6f1f7 0%,
    #f983e9 36%,
    #b877ff 74%,
    #c2e9cd 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.about-tagline-container img {
  /* border: 1px solid white; */
  width: 5rem;
  height: max-content;
}

.about-tagline {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 8rem;
  gap: 10px;
}

.about-tagline h1 {
  /* border: 1px solid white; */
  font-size: 4rem;
  font-weight: 200;
  background: linear-gradient(
    135deg,
    #c6f1f7 0%,
    #f983e9 36%,
    #b877ff 74%,
    #c2e9cd 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.about-tagline img {
  /* border: 1px solid white; */
  display: flex;
  width: 26%;
  height: auto;
  justify-content: center;
  margin-left: 5px;
  /* margin-bottom: 42px; */
}

.about-detail {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: -49rem;
  justify-content: start;
  background: transparent;
  font-size: 0.9rem;
  height: max-content;
}

.about-detail p br {
  display: block;
  margin-top: 1rem;
  line-height: 0;
}

.about-detail p:nth-child(3) {
  margin-bottom: 12rem;
}

.about-detail p:nth-child(5),
.about-detail p:nth-child(7) {
  width: 100%;
}

.about-image {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  padding: 5px 20px 20px;
  justify-content: center;
  text-align: center;
  margin-right: 80px;
  margin-top: -10rem;
  background: #202020;
  position: relative;
  align-items: center;
  gap: 0;
}

.about-image img {
  background: transparent;
  width: 10rem;
}

.about-image-description {
  display: flex;
  padding: 0;
  flex-direction: column;
  font-size: 0.9rem;
}

.about-image-description p {
  background: transparent;
  margin: 0;
  padding: 0;
}

.about-value {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 100px;
  margin: 0 auto;
}

.section-one,
.section-two,
.section-three,
.section-four {
  min-width: 0;
}

.section-one,
.section-two {
  margin-bottom: 45px;
}

.section-three,
.section-four {
  margin-bottom: 100px;
}

.section-one h1,
.section-two h1,
.section-three h1,
.section-four h1 {
  margin-top: -200px;
  padding: 0px 60px;
}

.section-one p,
.section-two p,
.section-three p,
.section-four p {
  padding: 20px 160px 20px 60px;
  text-align: start;
  margin-right: 90px;
}

.about-value img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .about-value {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
